@{

}

<section>
    <div class="container">
        <div class="ErrorPage">
            <div class="ErrorContent">
                <div class="ErrorTitle">
                    <h3>You can't rent anymore boards. Please login to rent more boards.</h3>
                </div>
                <div class="ErrorButton">
                    <a asp-action="Store"
                       class="btn btn-primary">
                        Back to Store
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>