@model SurfsUp.Models.Rent;

@{
    ViewData["Title"] = "Rent a board";
}

<section class="header-text">
    <h1>Rent the board</h1>
</section>

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form asp-action="Rent">
                    <div class="mb-3">
                        <label asp-for="EndRent" class="control-label mb-1">Rent to:</label>
                    <input asp-for="EndRent" class="form-control" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-dd" + "T" + "HH:mm")" required />
                    </div>
                    <div class="form-group text-center mt-5">
                         <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}