@*View to create new identity user, values come from UserController*@
@model User
@{
    ViewData["Title"] = "Create User";
}
<section class="header-text">
    <h1>@ViewData["Title"]</h1>
</section>

<div class="container mt-5 mb-5">
    <a asp-action="Index" class="btn btn-light"><i class="bi bi-arrow-left"></i>Back</a>
    <div asp-validation-summary="All" class="text-danger"></div>
  

    @*Form to type email (for username) and password, for user creation*@
    <form method="post">
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

