@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/* ========= GENERAL ========= */

:root {
    --main-color: #f8d99b;
}

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom right, white, #0097e6);
}

footer {
    font-family: 'Indie Flower', cursive;
    background-color: var(--main-color);
}

footer p {
    margin-top: 15px;
    color: #000;
    font-size: 18px;
}

/* ========= Buttons ========= */

.Create_bt {
    color: #0097e6;
}

.Funtion_bt {
    color:white;
}

/* ========= NAVBAR ========= */

nav {
    background-color: var(--main-color);
}

.navbar-nav {
    margin: 20px 0 20px 0;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    font-weight: 700;
}

.nav-link {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    margin: 0 10px 0 10px;
}

/* ========= SHOP ========= */

.shop {
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

    .shop-header {
        margin: 50px 0 0 0;
        font-family: 'Indie Flower', cursive;
        font-weight: 700;
    }

.shop .card {
    margin: 10px 0 10px 0;
    border-width: 0;
}

.pagination-buttons {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ========= PRODUCT ========= */
.page-title {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin: 50px 0 50px 0;
}

    .page-title h1 {
        font-weight: 700;
    }


.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchField {
    display: flex;
    flex-direction: row;
}

.searchInput {
    display: flex;
    flex-direction: row;
}

.searchInput button {
    margin-left: 5px;
}


.product-list {
    margin: 20px 0 30px 0;
}


.product-grid {
    font-family: 'Work Sans', sans-serif;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
    margin-top: 10px;
}

    .product-grid:hover {
        border-color: #000;
    }

    .product-grid .product-image {
        position: relative;
    }

        .product-grid .product-image img {
            height: 300px;
            width: contain;
        }

    .product-grid .product-sale-label {
        color: #fff;
        background: #83b71c;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 2px 7px;
        border-radius: 5px;
        transform: skew(-18deg);
        position: absolute;
        left: 10px;
        top: 10px;
        transition: all 0.3s;
    }

    .product-grid .social {
        padding: 0;
        margin: 0;
        list-style: none;
        opacity: 0;
        position: absolute;
        top: -20px;
        right: 10px;
        transition: .4s ease-in-out;
    }

    .product-grid:hover .social {
        opacity: 1;
        top: 15px;
    }

    .product-grid .social li a {
        color: black;
        background: #fff;
        font-size: 16px;
        text-align:center;
        line-height: 60px;
        height: 60px;
        width: 60px;
        margin: 0 0 10px;
        border-radius: 50%;
        display: block;
        position: relative;
        transition: .4s ease-in-out;
    }

        .product-grid .social li a:hover {
            color: black;
            background: var(--main-color);
        }

        .product-grid .social li a:before,
        .product-grid .social li a:after {
            content: attr(data-tip);
            color: #fff;
            background: #444;
            font-size: 12px;
            line-height: 20px;
            padding: 5px 10px;
            white-space: nowrap;
            display: none;
            transform: translateY(-50%);
            position: absolute;
            right: 53px;
            top: 50%;
        }

        .product-grid .social li a:after {
            content: '';
            height: 15px;
            width: 15px;
            padding: 0;
            transform: translateY(-50%) rotate(45deg);
            right: 50px;
            z-index: -1;
        }

    .product-grid .product-content {
        padding: 15px 10px;
        position: relative;
        background-color: #fff;
    }

    .product-grid .product-category {
        font-size: 14px;
        margin-bottom: 5px;
        display: block;
    }

        .product-grid .product-category a {
            color: #999;
            transition: all .4s ease 0s;
        }

    .product-grid .title {
        font-size: 18px;
        text-transform: capitalize;
        margin: 0 0 7px;
        display: block;
    }

        .product-grid .title a {
            color: #444;
            transition: all .4s ease 0s;
        }

    .product-grid .price {
        color: black;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
        transition: .3s ease;
    }

    .product-grid p {
        margin: 5px 0 0 0;
    }

    @media only screen and (max-width:990px) {
        .product-grid {
        margin-bottom: 30px;
    }
}

