@using System.Net.Http
@using System.Net.Http.Json
@using Syncfusion.Blazor.Inputs
@using SurfsUpLibrary.Models
@inject HttpClient Http

@if (boards == null)
{
    <p><em>Waiting for awsome boards list...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Boardname</th>
                <th>Type</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in boards)
            {
                <tr>
                    <td>
                        <img src="@board.Picture" height="150"/>                        
                    </td>
                    <td>@board.BoardName</td>
                    <td>@board.Type</td>
                    <td>@board.Price</td>
                    <td>
                        <button class="btn btn-primary">Rent</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    private Board[]? boards;

    protected override async Task OnInitializedAsync()
    {
        Http.BaseAddress = new Uri("https://localhost:7009");
        boards = await Http.GetFromJsonAsync<Board[]>("api/v2/AvailableBoards");
    }

}
