@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* ========= GENERAL ========= */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

:root {
    --light-background: #e3f2fd;
    --ligt-grey: #f8f9fa;
}

* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.header-text {
    padding: 50px 0 50px 0;
    margin-bottom: 30px;
    background-color: var(--ligt-grey);
    text-align: center;
}

    .header-text h1 {
        font-size: 48px;
        font-weight: 600;
        color: #03045e;
    }

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 0 50px 0;
    text-align: center;
    background-color: var(--light-background);
}

    footer p {
        color: #b0b0b0;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

i {
    padding: 0 5px 0 0;
}

.social {
    padding: 10px 0 30px 0;
}

.or-line {
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 30px;
}

.or-line span {
    background: #fff;
    padding: 0 10px;
}

#forgot-password {
    color: #000000;
}
/* ========= Buttons ========= */
.btn-primary {
    color: #fff;
    background-color: #0d47a1;
    border-color: #0d47a1;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0a3577;
        border-color: #0a3577;
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #0a3577;
        border-color: #0a3577;
        box-shadow: 0 0 0 0.25rem rgba(10, 53, 119, 0.5);
    }

    .btn-primary:disabled, .btn-primary.disabled {
        color: #fff;
        background-color: #2b4a77;
        border-color: #2b4a77;
    }

/* ========= NAVBAR ========= */

.navbar {
    background-color: var(--light-background);
    padding: 25px 0 25px 0;
}

.navbar-brand img {
    height: 60px;
}

.nav-link {
    font-size: 18px;
}

/* ========= SHOP ========= */

.store-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

    .storeSearchBox {
        display: flex;
        gap: 15px;
    }

    .storeSearchInput {
        display: flex;
        gap: 15px;
    }


    .pagination-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

.card {
    border-width: 3px;
    border-radius: 10px;
}

    .card .title {
        font-weight: 600;
    }

    .card .type {
        padding: 12px 0 15px 0;
        font-weight: 400;
        color: #868686;
    }

    .title-price {
        display: flex;
        justify-content: space-between;
    }

        .title-price p {
            font-weight: 500;
            height: 20px;
            border-bottom: 4px solid rgba(21, 105, 231, 0.3);
        }
/* ========= BOARDS ========= */
.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

    .searchBox {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .searchInput {
        display: flex;
        gap: 10px;
    }

